/* Tyler Schum*/
/* 11/21/17*/

body {
  background-color: #232323;
  margin: 0;
  font-family: 'Montserrat', 'Avenir';
}

.square {
  width: 46%;
  height: 220px;
  background-color: white;
  color: steelblue;
  text-align: center;
  font-size: 1.5em;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 1%;
  padding-right: 1%;
  border: solid steelblue 3px;
  float: left;
  margin: 1.66%;
  border-radius: 20px;
  transition: all .4s ease-in, font-size .1s ease, padding-top .1s ease;
  -webkit-transition: all .4s ease-in, font-size .1s ease-in, padding-top .1s ease;
  -moz-transition: all .4s ease-in, font-size .1s ease-in, padding-top .1s ease;
  -o-transition: all .4s ease-in,font-size .1s ease-in, padding-top .1s ease;
  overflow: wrap;
}

.myContainer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
}

header {
  margin: 0;
  margin-top: -40px;
  background-color: steelblue;
  padding: 20px 0;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

h1 {
  text-align: center;
  margin: 1% auto;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 200%;
}

h2 {
  text-align: center;
  margin: 1% auto;
  color: white;
  font-weight: normal;
  line-height: 1.1;
  font-size: 150%;
}

#message {
  display: inline-block;
  width: 30%;
  color: steelblue;
  font-weight: 400;
  font-size: 2em;
}

.navbar {
  min-height: 30px;
  border-radius: 0;
}

.nav>li>a {
  padding: 9px 15px 6px;
}

.navbar-toggle {
  padding: 4px 6px;
}

.mode{
  font-size: 20px;
  padding: 5px, 0, 300px;
  border-radius: 5px;
  width: 10%;
  height: 95%;
}

.mode:hover, .mode:focus, #reset:hover, #reset:focus {
  background-color: white;
  color: rgb(60,90,120);
}

#stripe {
  background-color: white;
  height: 40px;
  width: 100%;
  text-align: center;
  color: black;
}

#reset {
  height: 70%;
  font-size: 1.4em;
  width: 30%;
  border-radius: 5px;
}

.selected {
  color: white;
  background-color: steelblue;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  outline: none;
}

button:hover {
  color: white;
  background-color: steelblue;
}
.navbar-default .navbar-nav>li>a {
  color: steelblue;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background: steelblue;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: steelblue;
}

.active a{
  color: white;
  background-color: steelblue;
}

.win {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  display: none;
  font-size: 20px;
  margin: 0 auto;
  width: 46%;
  margin-left: 1.66%;
  margin-right: 1.66%;
  border: solid steelblue 3px;
}

.win:hover, .win:focus{
  color: white;
  background-color: steelblue;
  border: solid white 3px;
}

#buttons{
  text-align: center;
  clear: both;
}

.navbar-default{
  background-color: white;
}

.nav-tabs>li>a{
  transition: all .3s ease;
}

p{
  clear: left;
  color: white;
  position: fixed;
  bottom: 0;
  margin-left: 1%;
}


@media all and (max-width: 500px) {
  .squares {
    font-size: 5vw;
    margin-top: none;
  }

  .myContainer {
    max-width: none;
  }

  header h2 {
    font-size: 1em;
  }

  h2 {
    font-size: 4.5vw;
  }

  h1 {
    font-size: 1em;
  }

  .win {
    padding: 5px;
    font-weight: 700;
    font-size: 1em;
  }

  #reset {
    font-size: .8em;
  }

  #message {
    font-size: 1.4em;
  }
}
